
body{
    background: rgb(243,243,243);
}


img{
    max-width: 80%;
    max-height: 80%;
}


.height-tile2{ /* height tile tinggi*/
    height: 410px;
}

.height-tile3{ /* height tile tinggi*/
    height: 250px;
}

.split{ /* garis pemisah*/
    border-style: dotted;
    border-left: 1px;
    border-top: 1px;
    border-bottom: 1px;
}

/* color*/
.color-logo{ 
    background-color: #353D37;
    color: white;
}

.white-back{
    background-color: white;
}

.grey-back{
    background-color: #AAACAC;
}

.green-back{
    background-color: #6AD35E;
    color: white;
}

.green-font{
    color: #6AD35E;
}

/*alignment*/
.center-align{
    text-align: center;
}

.right-align{
    text-align: right;
}

.left-align{
    text-align: left;
}

/* margin & padding*/
.margin30{
    margin-top: 30px;
}

.margin50{
    margin-top: 50px;
}

.padding-gen{
    padding-left: 30px;
    padding-top: 20px
}

.margintop10{
    margin-top: 10px;
}

/* table no border*/
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
border-top: none !important;
}