
body{
    background: rgb(243,243,243);
}


img{
    max-width: 80%;
    max-height: 80%;
}

#tile1{ /* margin 10 px antara tile*/
    margin: 10px;
}

.height-tile{ /* height tile pendek*/
    height: 200px;
}

.height-tile2{ /* height tile tinggi*/
    height: 410px;
}

.height-tile3{ /* height tile pendek*/
    height: 250px;
}

.split{
    border-style: dashed;
    border-left: 1px;
    border-top: 1px;
    border-bottom: 1px;
}

.color-logo{
    background-color: #353D37;
    color: white;
}

.white-back{
    background-color: white;
}

.grey-back{
    background-color: #AAACAC;
}

.green-back{
    background-color: #6AD35E;
    color: white;
    height: 100%;
}

.green-font{
    color: #6AD35E;
}

.center-align{
    text-align: center;
}

.right-align{
    text-align: right;
}

.left-align{
    text-align: left;
}

.margin30{
    margin-top: 30px;
}

.padding10{
    padding: 10px;
}