<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adhmora</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <section class="container">

      <!-- navbar -->
      <ol class="breadcrumb"> 
        <li><a href="#">Admin</a></li>
        <li><a href="#">General Info</a></li>
        <li><a href="#">Graph</a></li>
        <li><a href="#">Denah</a></li>
        <li><a href="#">Utilitas</a></li>
      </ol> <!-- navbar ends -->

    <div class="row">
      <div class="col-md-12" ng-app="adminApp">
        <div ng-controller="klienCtrl">
          <form class="form-horizontal" role="form">
            <fieldset>
              <!-- Form Name -->
              <legend><h1>Tambah klien</h1></legend>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="textinput">Klien</label>
                  <div class="col-sm-4 col-sm-offset-3">
                    <input type="text" class="form-control" ng-model="gedung.klien">
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="textinput">Logo</label>
                  <div class="col-sm-4 col-sm-offset-3">
                    <input type="text" class="form-control" ng-model="gedung.logo">
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="textinput">Nama Bangunan</label>
                  <div class="col-sm-4 col-sm-offset-3">
                    <input type="text" class="form-control" ng-model="gedung.nama">
                  </div>
                </div>
                
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="fungsi-bangunan">Fungsi Bangunan</label>
                  <div class="col-sm-4 col-sm-offset-3">
                    <select class="form-control" id="status" name="fungsi-bangunan">
                      <option>PILIH</option>
                      <option>fungsi A</option>
                      <option>fungsi B</option>
                      <option>fungsi C</option>
                    </select>
                  </div>
                </div>

                 <div class="form-group">
                  <label class="col-sm-2 control-label" for="textinput">Batas Daya</label>
                  <div class="col-sm-4 col-sm-offset-3">
                    <input type="text" class="form-control" ng-model="gedung.daya">
                  </div>
                </div>

              <!--oooooooo part fungsi lantai ooooooo-->
              <!-- Text input-->
                <div class="form-group margin30">
                  <label class="col-sm-2 col-sm-offset-1 control-label" for="fungsi-lantai">Fungsi Lantai</label>
                  <div class="col-sm-4 col-sm-offset-2">
                    <select class="form-control" id="status" name="fungsi-lantai">
                      <option>PILIH</option>
                      <option>fungsi A</option>
                      <option>fungsi B</option>
                      <option>fungsi C</option>
                    </select>
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-2 col-sm-offset-1 control-label" for="textinput">Nama</label>
                  <div class="col-sm-4 col-sm-offset-2">
                    <input type="text" class="form-control">
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-2 col-sm-offset-1 control-label" for="textinput">Luas</label>
                  <div class="col-sm-4 col-sm-offset-2">
                    <input type="text" class="form-control">
                  </div>
                </div>
                 <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-2 col-sm-offset-1 control-label" for="textinput">Denah</label>
                  <div class="col-sm-4 col-sm-offset-2">
                    <input type="text" class="form-control">
                  </div>
                </div>

              <div class="form-group margin30">
                <div class="col-sm-3">
                  <div class="pull-right">
                    <button type="submit" class="btn btn-success">Tambah Lantai</button>
                  </div>
                </div>
              </div>
              <!--oooooooo part fungsi lantai ooooooo-->

              <!--oooooooo part fungsi ruang ooooooo-->
              <!-- Text input-->
                <div class="form-group margin30">
                  <label class="col-sm-2 col-sm-offset-2 control-label" for="fungsi-ruang">Fungsi Ruang</label>
                  <div class="col-sm-4 col-sm-offset-1">
                    <select class="form-control" id="status" name="fungsi-ruang">
                      <option>PILIH</option>
                      <option>fungsi A</option>
                      <option>fungsi B</option>
                      <option>fungsi C</option>
                    </select>
                  </div>
                </div>
                
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-2 col-sm-offset-2 control-label" for="textinput">Nama</label>
                  <div class="col-sm-4 col-sm-offset-1">
                    <input type="text" class="form-control">
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-2 col-sm-offset-2 control-label" for="textinput">Luas</label>
                  <div class="col-sm-4 col-sm-offset-1">
                    <input type="text" class="form-control">
                  </div>
                </div>
              
              <div class="form-group margin30">
                <div class="col-sm-4">
                  <div class="pull-right">
                    <button type="submit" class="btn btn-success">Tambah Ruang</button>
                  </div>
                </div>
              </div>
              <!--oooooooo part fungsi ruang ooooooo-->

              <!--oooooooo part fungsi tipe lantai ooooooo-->
              <!-- Text input-->
                <div class="form-group margin30">
                  <label class="col-sm-2 col-sm-offset-3 control-label" for="tipe-utilitas">Tipe Utilitas</label>
                  <div class="col-sm-4">
                    <select class="form-control" id="status" name="tipe-utilitas">
                      <option>PILIH</option>
                      <option>Tipe A</option>
                      <option>Tipe B</option>
                      <option>Tipe C</option>
                    </select>
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-2 col-sm-offset-3 control-label" for="textinput">Nama</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control">
                  </div>
                </div>

                 <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-2 col-sm-offset-3 control-label" for="textinput">Daya</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control">
                  </div>
                </div>

                 <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-2 col-sm-offset-3 control-label" for="textinput">ID</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control">
                  </div>
                </div>

                 <!-- Text input-->
                <div class="form-group">
                  <label class="col-sm-2 col-sm-offset-3 control-label" for="textinput">ID Sensor</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control">
                  </div>
                </div>

                <div class="form-group margin30">
                <div class="col-sm-4 col-sm-offset-1">
                  <div class="pull-right">
                    <button type="submit" class="btn btn-success">Tambah Utilitas</button>
                  </div>
                </div>
              </div>
              <!--oooooooo part fungsi tipe lantai ooooooo-->


              <div class="form-group margin30">
                <div class="col-sm-4 col-sm-offset-5">
                  <div class="pull-right">
                    <button type="submit" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-success">Save</button>
                  </div>
                </div>
              </div>

            </fieldset>
          </form>
        </div>
      </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
  </section>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/utility.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script>
      var adminApp = angular.module('adminApp', ["ngSanitize"]);
      //klien control
      adminApp.controller('klienCtrl', ['$scope','$http', function ($scope,$http) {
        $scope.gedung = {};
        $http({
          url: domainname+"gedung/id/"+getValue('id'), 
          method: "GET",
          params: {}
         }).
          success(function(data, status, headers, config) {
            var resp = JSON.parse(JSON.parse(data));
            if (resp !== null){
              //console.log(resp);
              $scope.gedung.klien = resp.klien;
              $scope.gedung.logo = resp.logo;
              $scope.gedung.nama = resp.nama;
              $scope.gedung.fungsi = resp.fungsi_nama;
              $scope.gedung.daya = resp.daya;
            }
          }).
          error(function(data, status, headers, config) {
          // called asynchronously if an error occurs
          // or server returns response with an error status.
          console.log("error get gedung");
        });
      }]);
    </script>
  </body>
</html>